---
import white from '@media/images/babyphotos/white.jpeg'
import red from '@media/images/babyphotos/red.jpeg'
import blue from '@media/images/babyphotos/blue.jpeg'
import yellow from '@media/images/babyphotos/yellow.jpeg'

import FlipCard from './FlipCard.astro'

const data = {
	title: 'ZIELONY CHŁOPCZYK',
	subtitle: 'waga 330g',
	born: '28.05.2024',
	additionalText: 'Roronoa',
	image: white
}

const data2 = {
	title: 'ZIELONY CHŁOPCZYK',
	subtitle: 'waga 330g',
	born: '28.05.2024',
	additionalText: 'Roronoa',
	image: red
}

const data3 = {
	title: 'NIEBIESKI CHŁOPCZYK',
	subtitle: 'waga 330g',
	born: '28.05.2024',
	additionalText: 'Ramen',
	image: blue
}

const data4 = {
	title: 'ZIELONY',
	subtitle: 'chłopczyk',
	born: '28.05.2024',
	additionalText: 'Roro',
	image: yellow
}
---

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('opacity-100')
			}
		})
	})

	const entries = document.querySelectorAll('.hid')
	entries.forEach((el) => observer.observe(el))
</script>
<div id="mioty" class="hid mt-12 text-center opacity-0 duration-1000">
	<h1>
		Miot <span class="text-secondary">"R"</span>
	</h1>
	<span>Najedź na zdjęcie, zeby poznać szczegóły o szczeniakach </span>
</div>
<div class="container my-12 flex w-full flex-wrap justify-center gap-10 duration-700">
	<FlipCard data={data} />
	<FlipCard data={data2} />
	<FlipCard data={data3} />
	<FlipCard data={data4} />
	<FlipCard data={data} />
	<FlipCard data={data} />
	<FlipCard data={data} />
</div>
