---
import white from '@media/images/babyphotos/white.jpeg'
import red from '@media/images/babyphotos/red.jpeg'
import blue from '@media/images/babyphotos/blue.jpeg'
import yellow from '@media/images/babyphotos/yellow.jpeg'
import black from '@media/images/babyphotos/black.jpeg'
import grey from '@media/images/babyphotos/grey.jpeg'
import green from '@media/images/babyphotos/green.jpeg'

import FlipCard from './FlipCard.astro'

const data = {
	title: 'BIAŁY',
	sex: 'CHŁOPCZYK',
	name: 'RACUCH',
	born: '28.05.2024',
	image: white
}

const data2 = {
	title: 'CZERWONA',
	sex: 'DZIEWCZYNKA',
	name: 'ROSE',
	born: '28.05.2024',
	image: red
}

const data3 = {
	title: 'NIEBIESKI',
	sex: 'CHŁOPCZYK',
	name: 'RAMEN',
	born: '28.05.2024',
	image: blue
}

const data4 = {
	title: 'CZARNY',
	sex: 'CHŁOPCZYK',
	name: 'ROBERTO',
	born: '28.05.2024',
	image: black
}

const data5 = {
	title: 'SZARY',
	sex: 'CHŁOPCZYK',
	name: 'RAFAELLO',
	born: '28.05.2024',
	image: grey
}

const data6 = {
	title: 'ZÓŁTY',
	sex: 'CHŁOPCZYK',
	name: 'RASTI',
	born: '28.05.2024',
	image: yellow
}

const data7 = {
	title: 'ZIELONY',
	sex: 'CHŁOPCZYK',
	name: 'ROLLO',
	born: '28.05.2024',
	image: green
}
---

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add('opacity-100')
			}
		})
	})

	const entries = document.querySelectorAll('div.chosen')
	entries.forEach((el) => observer.observe(el))
</script>

<div id="mioty" class="chosen mt-12 text-center opacity-0 duration-1000">
	<h1>
		Miot <span class="text-secondary">"R"</span>
	</h1>
	<span>Najedź na zdjęcie, zeby poznać szczegóły o szczeniakach </span>
</div>
<div class="container my-12 flex w-full flex-wrap justify-center gap-10 duration-700">
	<FlipCard data={data} />
	<FlipCard data={data2} />
	<FlipCard data={data3} />
	<FlipCard data={data4} />
	<FlipCard data={data5} />
	<FlipCard data={data6} />
	<FlipCard data={data7} />
</div>
